/* Define custom properties for colors, font families, and font sizes */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
    /* Set text color to black by default */

    --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;

    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
}

/* Apply smooth scrolling behavior to the HTML element */
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    /* Set base font size to 62.5% for easier rem unit calculation */
}

/* Set default styles for the body */
body {
    color: var(--text-color);
    /* Apply text color */
    font-family: var(--font-family-base);
    /* Apply base font family */
    font-size: var(--font-size-medium);
    /* Apply medium font size */
}

/* Apply font family for all headings (h1 to h6) */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-title);
}

/* Set default text color for anchor elements */
a {
    color: var(--text-color);
}

/* Hide elements with the visually-hidden class */
.visually-hidden {
    display: none;
}

/* Set text color for elements with the card-category class */
.card-category {
    color: var(--color-primary);
}

/* Set text color for elements with the section-tagline class */
.section-tagline {
    color: var(--color-primary);
}
